@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jersey+20&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url('pics/back.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header{
    font-family: "Poppins", sans-serif;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    background-color: rgba(148, 226, 174, 0.7);
    padding: 0px 100px;
    display: flex;

    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.header .logo img{
    height: 100px;
    width: 100px;
}
.navbar a{
    position: relative;
    font-size: 20px;
    text-decoration: none;
    color: #080808;
    margin: 20px;
}
.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    height: 2px;
    width: 0%;
    background: #080808;
    transition: .5s;
}
.navbar a:hover::before{
    width: 100%;
}
@media only screen and (max-width: 768px) {
    .toggle-button {
        display: block;
        position: relative;
        z-index: 1001;
        background: transparent;
        color: #ffffff;
        font-size: 30px;
        font-weight: lighter;
        width: 30px;
        height: 30px;
        
        border: 0;
        outline: none;
       }
   .navbar {
        display: none;
        flex-direction: column;
        align-items: center;
        position: absolute;
        transform: translate(50%, 71%);
        width: 50%;
        background-color: rgba(248, 250, 249, 0.911);
        border-radius: 10px;
        z-index: 1000;
    }
 
    .navbar a {
         padding: 10px;
         text-align: center;
     }
 
    .navbar.active {
         display: flex;
     }
 }
 
 @media only screen and (min-width: 768px) {
    .toggle-button {
         display: none;
     }
 }
main {
    font-family: 'Raleway', sans-serif;
    margin: 30vh;
    padding: 20px 0;
}
h2{
    color: #0a0a0a;
    font-weight: bold;
    text-shadow: #080808;
}
p{
    font-family: 'Raleway', sans-serif;
    color: #0a0a0a;
    font-weight: lighter;
    font-size: 15px;
}
.developer {
    text-align: center;
    margin-top: 20px;
    justify-content: center;
    
}

.developer img {
    border-radius: 20px;
    max-width: 150px;
    margin-bottom: 10px;
    height: 70%;
}

#developers .container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}


.stats {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.stat-item {
    text-align: center;
}

.stat-item h3 {
    color: #6a994e;
    margin: 0;
}

.stat-item p {
    margin: 5px 0;
}

.button {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
}

.footer {
    
    background-color: rgb(146, 192, 146);
    
    color: #6a994e;
    padding: 20px 0;
    text-align: center;
   
}
.footer .social img{
    height: 30px;
    margin: 10px;
    flex-wrap: wrap;
}
