@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.header{
    font-family: "Poppins", sans-serif;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    background-color: rgba(7, 10, 8, 0.7);
    /* background-color: transparent; */
    padding: 0px 100px;
    display: flex;

    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
.header .logo img{
    height: 110px;
    width: 120px;
}
.navbar a{
    position: relative;
    font-size: 20px;
    text-decoration: none;
    color: #a7c957;
    margin: 20px;
}
.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    height: 2px;
    width: 0%;
    background: #a7c957;
    transition: .5s;
}
.navbar a:hover::before{
    width: 100%;
}
@media only screen and (max-width: 768px) {
    .toggle-button {
         display: block;
     }
    .navbar {
         display: none;
         flex-direction: column;
         align-items: center;
         position: absolute;
         top: 70px;
         left: 0;
         width: 100%;
         background-color: #f9f9f9;
     }
 
    .navbar a {
         padding: 10px;
         text-align: center;
     }
 
    .navbar.active {
         display: flex;
     }
 }
 
 @media only screen and (min-width: 768px) {
    .toggle-button {
         display: none;
     }
 }

main {
    margin: 30vh;
    padding: 20px 0;
}
h2{
    color: #6a994e;
    font-weight: bolder;
}
.developer {
    text-align: center;
    margin-top: 20px;
    justify-content: center;
    
}

.developer img {
    border-radius: 20px;
    max-width: 150px;
    margin-bottom: 10px;
    height: 70%;
}

#developers .container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


.stats {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.stat-item {
    text-align: center;
}

.stat-item h3 {
    color: #6a994e;
    margin: 0;
}

.stat-item p {
    margin: 5px 0;
}

.button {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
}

.footer {
    background-color: rgb(40, 41, 40);
    color: #6a994e;
    padding: 20px 0;
    text-align: center;
   
}
.footer .social img{
    height: 30px;
    margin: 10px;
    flex-wrap: wrap;
}
