@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+20&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+20&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    font-family: "Poppins", sans-serif;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    background-color: rgba(7, 10, 8, 0.7);
    /* background-color: transparent; */
    padding: 0px 100px;
    display: flex;

    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
.header .logo img{
    height: 110px;
    width: 120px;
}
.navbar a{
    position: relative;
    font-size: 20px;
    text-decoration: none;
    color: #a7c957;
    margin: 20px;
}
.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    height: 2px;
    width: 0%;
    background: #a7c957;
    transition: .5s;
}
.navbar a:hover::before{
    width: 100%;
}
@media only screen and (max-width: 768px) {
    .toggle-button {
         display: block;
     }
    .navbar {
         display: none;
         flex-direction: column;
         align-items: center;
         position: absolute;
         top: 70px;
         left: 0;
         width: 100%;
         background-color: #f9f9f9;
     }
 
    .navbar a {
         padding: 10px;
         text-align: center;
     }
 
    .navbar.active {
         display: flex;
     }
 }
 
 @media only screen and (min-width: 768px) {
    .toggle-button {
         display: none;
     }
 }

@keyframes spiderAnimation {
   0%{top: 0;}
   50%{top: calc(50vh-25px);}
   100%{top: calc(100vh-100px);}
}
@keyframes threadAnimation{
   0% {height: 0;}
   50%{height: calc(50vh-25px);}
   100%{height: calc(100vh-150px);}
}
 .spider-thread{
    position: absolute;
    top: -100px;
    left: 20px;
}   
.spider{
    top: 55%;
    left: -15px;
   position: absolute;
   background-image: url('pics/spider.png');
   height: 200px;
   width: 200px;
   background-size: cover;
   animation: spiderAnimation 3s linear ;
}
 /* .thread{
    position: absolute; 
    top: 55%;
    left: 12%;
    height: 80px;
    width: 2px;
    transform: translateX(-50%);
    background-color: #a7c957;
    animation: threadAnimation 9s linear ;
 }     */
 

.topic {
    position: relative;
}
.topic-text{
    font-family: 'jersey 20', sans-serif;
    font-style: normal;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    color: #a7c957;
}
.video-container video {
    position: relative;
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: 100%;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}
main {
    padding: 40px 0;
    margin: 100px;
    font-family: 'Raleway', sans-serif;
    align-items: center;
    justify-content: center;
}
main p{
    font-size: 18px;
    padding: 3px;
}


section h2 {
    color: #6a994e;
    margin-bottom: 20px;
    font-size: 40px;
}
.container img{
    margin-top: 0;
    max-width: 100%;
    margin-left: 60px;
}



.mainfunc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.search-box{
    margin: 5%;
    display: flex;
    background-color: #494848;
    border-radius: 60px;
    width: 600px;
    max-width: 700px;
    height: 50px;
    align-items: center;
    
}
.search-box button img{
    height: 30px;
    padding-right: 10px;
    

}
::placeholder{
    color: #6a994e;
    font-size: medium;
}
.search-box button{
    border: 0;
    outline: none;
    background: transparent;
    cursor: pointer;
}
.search-box input{
    padding: 10px;
    background: transparent;
    border: 0;
    outline: none;
    flex: 1;
    color: #ffffff;
    font-size: 18px;
}
.mainfunc textarea{
    border-radius: 10px;
    margin: 5px;
    height: 50%;
    width: 70%;
}
.down-load button{
    width: 150px;
    border-radius: 5px;
    margin: 5px;
    background-color: #313130;
    color: #6a994e;
    font-size: medium;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}



.footer {
    background-color: rgb(40, 41, 40);
    color: #6a994e;
    padding: 20px 0;
    text-align: center;
   
}
.footer .social img{
    height: 30px;
    margin: 10px;
    flex-wrap: wrap;
}
